policy_module(dogcash, 1.100.1)

########################################
#
# Declarations
#

type dogcash_t;
type dogcash_exec_t;
init_daemon_domain(dogcash_t, dogcash_exec_t)

permissive dogcash_t;

type dogcash_initrc_exec_t;
init_script_file(dogcash_initrc_exec_t)

type dogcash_conf_t;
files_type(dogcash_conf_t)

type dogcash_var_lib_t;
files_type(dogcash_var_lib_t)

type dogcash_var_run_t;
files_type(dogcash_var_run_t)

type dogcash_port_t;
corenet_port(dogcash_port_t)

########################################
#
# dogcash local policy
#
allow dogcash_t self:process { fork };

allow dogcash_t self:fifo_file rw_fifo_file_perms;
allow dogcash_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(dogcash_t, dogcash_conf_t, dogcash_conf_t)
manage_files_pattern(dogcash_t, dogcash_conf_t, dogcash_conf_t)

manage_dirs_pattern(dogcash_t, dogcash_var_lib_t, dogcash_var_lib_t)
manage_files_pattern(dogcash_t, dogcash_var_lib_t, dogcash_var_lib_t)
files_var_lib_filetrans(dogcash_t, dogcash_var_lib_t, { dir file })

manage_dirs_pattern(dogcash_t, dogcash_var_run_t, dogcash_var_run_t)
manage_files_pattern(dogcash_t, dogcash_var_run_t, dogcash_var_run_t)

sysnet_dns_name_resolve(dogcash_t)
corenet_all_recvfrom_unlabeled(dogcash_t)

allow dogcash_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(dogcash_t)
corenet_tcp_sendrecv_generic_node(dogcash_t)
corenet_tcp_sendrecv_all_ports(dogcash_t)
corenet_tcp_bind_generic_node(dogcash_t)

gen_require(`
    type dogcash_port_t;
')
allow dogcash_t dogcash_port_t:tcp_socket name_bind;

gen_require(`
    type dogcash_port_t;
')
allow dogcash_t dogcash_port_t:tcp_socket name_connect;

domain_use_interactive_fds(dogcash_t)

files_read_etc_files(dogcash_t)

miscfiles_read_localization(dogcash_t)

sysnet_dns_name_resolve(dogcash_t)

allow dogcash_t dogcash_exec_t:file execute_no_trans;
allow dogcash_t self:process setsched;
corecmd_exec_ls(dogcash_t)
corenet_tcp_connect_http_port(dogcash_t)
dev_read_urand(dogcash_t)
fs_getattr_xattr_fs(dogcash_t)
kernel_read_system_state(dogcash_t)
